.roomDetail__list {
    height:370px;
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: calc(50% - 0px) calc(25% - 5px) calc(25% - 5px) calc(25% - 5px) calc(25% - 5px);
    grid-template-areas:
        "a b c"
        "a d e";
}
.roomDetail__image{

}
    .roomDetail__image img {
        height: 100%;
        border-radius: inherit;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        object-fit:cover;
    }
.roomDetail__image:nth-child(1) {
    grid-area: a;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height:370px;
}

.roomDetail__image:nth-child(2) {
    grid-area: b;
    height: 181px;
}   

.roomDetail__image:nth-child(3) {
    grid-area: c;
    border-top-right-radius: 10px;
    height: 181px;

}

.roomDetail__image:nth-child(4) {
    grid-area: d;
    height: 181px;
    
}

.roomDetail__image:nth-child(5) {
    grid-area: e;
    height: 181px;
    
    border-bottom-right-radius: 10px;
}

.roomDetail__content-decs{
    line-height:2;
    margin-top: 10px;
}
.roomDetail__amenities{
    display:flex;
    flex-wrap:wrap;
    gap: 20px;
}
.roomDetail__amenities i{
    font-size: 18px;
    margin-right: 6px;
}

.roomDetail__checkin input,.roomDetail__checkout input{
    padding: 10px;
    cursor:pointer;
}
.roomDetail__price {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.roomDetail__price{
    min-height: 450px;
    padding:10px 15px 30px;
}
.roomDetail__contents{
    margin-top:60px;
    border-top:1px solid gray
}
.roomDetail__btn {
    min-height: 50px;
    margin-top: 15px;
    
}
.feedback__item {
    margin-top: 10px;
    max-width: 300px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding:15px;
    border-radius:10px;
    margin-left:10px;
}
.checkin input{
    padding:14px;
}
.checkin label{
    font-size:17px;
    font-weight:500;
}
.checkin_comform{
    display:flex;
    gap:10px;

}
    .checkin_comform img {
        width: 120px;
        height: 100px;
        border-radius: 10px;
    }