
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Partner/Views/Shared/_LayoutPartnerMain.cshtml";
}

<div class="container">
    <h3>Đăng chỗ nghỉ của Quý vị trên BookingHotels và bắt đầu đón tiếp khách thật nhanh chóng!</h3>
    <p>Để bắt đầu, chọn loại chỗ nghỉ Quý vị muốn đăng trên BookingHotels</p>
    <div class="residence__list">
        <div class="residence__box">
            <i class='bx bx-building-house'></i>
            <h4>Căn Hộ</h4>
            <p>Chỗ nghỉ tự nấu nướng, đầy đủ nội thất mà khách thuê nguyên căn.</p>
            <a href="~/Partner/CreateRoom/Create"  class="btn btn-primary">Đăng Chỗ Nghỉ</a>
        </div>
        <div class="residence__box">
            <i class='bx bx-building-house'></i>
            <h4>Căn Hộ</h4>
            <p>Chỗ nghỉ tự nấu nướng, đầy đủ nội thất mà khách thuê nguyên căn.</p>
            <button class="btn btn-primary">Đăng Chỗ Nghỉ</button>
        </div>
        <div class="residence__box">
            <i class='bx bx-building-house'></i>
            <h4>Căn Hộ</h4>
            <p>Chỗ nghỉ tự nấu nướng, đầy đủ nội thất mà khách thuê nguyên căn.</p>
            <button class="btn btn-primary">Đăng Chỗ Nghỉ</button>
        </div>
        <div class="residence__box">
            <i class='bx bx-building-house'></i>
            <h4>Căn Hộ</h4>
            <p>Chỗ nghỉ tự nấu nướng, đầy đủ nội thất mà khách thuê nguyên căn.</p>
            <button class="btn btn-primary">Đăng Chỗ Nghỉ</button>
        </div>
        <div class="residence__box">
            <i class='bx bx-building-house'></i>
            <h4>Căn Hộ</h4>
            <p>Chỗ nghỉ tự nấu nướng, đầy đủ nội thất mà khách thuê nguyên căn.</p>
            <button class="btn btn-primary">Đăng Chỗ Nghỉ</button>
        </div>
    </div>
</div>
