@import url("https://fonts.googleapis.com/css2?family=Agdasima&family=Poppins:wght@400;500;600&family=Roboto:wght@300;400;500;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

button {
    border: none;
    outline: 0;
    cursor: pointer;
}

    button:focus {
        outline: none;
    }

    button:focus-visible {
        outline: 0;
    }

body {
    font-family: "Roboto", sans-serif;
}


.residence__list{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
    align-items:center;
}
.residence__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 20px;
    flex-direction: column;
    min-width: 260px;
    width:260px;
    text-align: center;
    border-radius:6px;
}
.residence__box i{
    font-size: 60px;
}
.residence__box h4{
    font-weight:bold;
}
.residence__box p{
    font-size: 16px;
    font-weight: 400;
}
.residence__box a{
    width:100%;
    color:white !important;
}

.room__form {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top:10px;
    padding:15px;

}
.room__form input{
    padding: 10px;
    outline:none;
}
.room__form button{
    margin-top: auto;
    height: 50px;
}
.room__form textarea{
    outline:none;
    padding:10px;
}
.suggest{
    margin-left:20px;
}
.suggest ul li{
    list-style:circle;
}
.suggest > div {
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.suggest > div i{
    font-size: 30px;
}
.room__box{
    display:flex;
    gap:10px;
}
.room__box.active {
    display: none;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    background-color: #f5f8ff;
}

.upload-iamge {
    background-color: #ffffff;
    width: 60%;
    min-width: 450px;
    position: relative;
    margin: 50px auto;
    padding: 50px 20px;
    border-radius: 7px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.05);
}

input[type="file"] {
    display: none;
}

label {
    display: block;
    position: relative;
    background-color: #025bee;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    width: 300px;
    padding: 18px 0;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
}

.upload-iamge p {
    text-align: center;
    margin: 20px 0 30px 0;
}

#images {
    width: 90%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

figure {
    width: 45%;
}

#images img {
    width: 20%;
}

figcaption {
    text-align: center;
    font-size: 2.4vmin;
    margin-top: 0.5vmin;
}

.room__form-btn{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:15px;
    height:50px;
}
    .room__form-btn i {
        font-size: 35px;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
        border: 0.5px solid #007bff;
        line-height: 35px;
        color: #007bff
    }
.room__form-btn button{
    height:100%;
    flex:1;
}